*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedor{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position-y: -80px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    font-weight:100;
    margin:20px 20px;
}

.section_cont_menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.icons_sun_moon{
    display: flex;
    justify-content: flex-end;
    position: relative;
   height: 34px;
   width: 100%;
   margin-bottom: 5px;
}

.icon_moon{
    position: absolute;
    width: 30px;
    right: 17px;
}
.icon_sun{
    position: absolute;
    width: 30px;
    display: none;
}

.nav_menu{
    display: flex;
}

.nav_menu_links a{
    color: #ffffff;
    padding: 10px 20px;
}

.section_contac_venta_casa_despas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_contac_venta_casa_despas h1{
    font-size: 37PX;
    padding: 35px 0;

}

.images_contac{
    width: 80%;
    height: 550px;
}

.images_contac img{
    width: 100%;
    height: 100%;
}

/*-------------Formulario------------*/

.formulario{

    
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario h2{
    text-align: center;
}

.article_form_information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_informacion_personal label{
    width: 97%;
    margin: 10px 0;
}

.form_informacion_personal{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(133, 60, 60);
    width: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    padding: 0 10px;
    
}

.textarea{
    display: flex;
    flex-direction: column;
}


.form_informacion_personal input{
    width: 100%;
    height: 30px;
    padding: 0 5px;
}

.form_informacion_personal h3{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-13px);
    z-index: 1;
}

/*----------------------------------*/




.derechos_reservados{
    background-color: #262626;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_list_menu{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer_list_menu--links{
    color: #000000;
    padding: 5px 30px;
    border-right: 1px solid #161616;
}

.footer_list_menu--link{
    padding: 5px 30px;
    color: #000000;
}