*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedor{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position-y: -80px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    font-weight:100;
    margin:20px 20px;
}

.section_cont_menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.icons_sun_moon{
    display: flex;
    justify-content: flex-end;
    position: relative;
   height: 34px;
   width: 100%;
   margin-bottom: 5px;
}

.icon_moon{
    position: absolute;
    width: 30px;
    right: 17px;
}
.icon_sun{
    position: absolute;
    width: 30px;
    display: none;
}

.nav_menu{
    display: flex;
}

.nav_menu_links a{
    color: #ffffff;
    padding: 10px 20px;
}
.section_nosotros{
    padding-top: 90px;
    padding-bottom: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    height: 700px
}

.article_desc_imagen{
    width: 50%;
    height: 50%;
}
.article_desc_imagen img{
    width: 100%;
}

.article_description{
    width: 500px;
    padding: 60px 30px;
}

.article_description h1{
    font-size: 29px;
    padding-bottom: 20px;
}

.article_description p{
    line-height: 2;
}

.section_sobreNosotros h2{
    text-align: center;
    padding: 30px 0;
}

.sobre--nosotros{
    display: flex;
    justify-content: space-evenly;
}

.article_sobre--nosotros img{
    width: 100px;
    margin-bottom: 30px;
}
.article_sobre--nosotros{
    text-align: center;
    margin: 0 10px;
    width: 210px;
}

.derechos_reservados{
    background-color: #262626;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_list_menu{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer_list_menu--links{
    color: #000000;
    padding: 5px 30px;
    border-right: 1px solid #161616;
}

.footer_list_menu--link{
    padding: 5px 30px;
    color: #000000;
}