*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedor{
    background-image: url(../IMAGES/header.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position-y: -80px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    font-weight:100;
    margin:20px 20px;
}

.section_cont_menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.icons_sun_moon{
    display: flex;
    justify-content: flex-end;
    position: relative;
   height: 34px;
   width: 100%;
   margin-bottom: 5px;
}

.icon_moon{
    position: absolute;
    width: 30px;
    right: 17px;
}
.icon_sun{
    position: absolute;
    width: 30px;
    display: none;
}

.nav_menu{
    display: flex;
}

.nav_menu_links a{
    color: #ffffff;
    padding: 10px 20px;
}
.contenedor h1{
    position: absolute;
    left: 30px;
    bottom: 60px;
    color: #ffffff;
    
}
.section_sobreNosotros{
    height: 500px;
}

.section_sobreNosotros h2{
    text-align: center;
    padding: 30px 0;
}

.sobre--nosotros{
    display: flex;
    justify-content: space-evenly;
}

.article_sobre--nosotros img{
    width: 100px;
    margin-bottom: 30px;
}
.article_sobre--nosotros{
    text-align: center;
    margin: 0 10px;
    width: 210px;
}

/*--------------------------------*/

.hr_divisor{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr_divisor hr{
    width: 90%;
    height: 2px;
    background-color: #161616;
}

/*-------------------------------*/

.section_casas_and_depas{
    margin-bottom: 100px;
}

.section_casas_and_depas h2{
text-align: center;
padding-bottom: 5px;
margin-bottom: 60px;
font-family: sans-serif;
font-weight: 600;
}
.images_depas_casas--venta{
    width: 250px;
    border-radius: 20px 20px 0 0;
}

.figure_icons_coche_inodoro--cama img{
    width: 23px;
}

.casas_and_depas{
    display: flex;
    justify-content: space-evenly;
}

.article_casas_and--depas{
    width: 250px;
    height: 420px;
    background-color: rgb(210, 218, 151);
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 1px rgb(173, 173, 173) ;
}

.article_casas_and--depas:hover{
    box-shadow: 3px 2px 15px 3px rgb(112, 133, 147) ;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.article_casas_and--depas h3{
    padding: 10px 15px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
    
}

.article_casas_and--depas p{
    font-size: 14px;
    padding: 0 12px;
    padding-bottom: 10px;
    text-align: left;
}

.precio_casa_and_depa{
    display: flex;
    margin-left: 12px;
    color: #161616;
    font-weight: 700;
    margin-bottom: 12px;
}

.figure_icons_coche_inodoro--cama{
    display: flex;
    justify-content: space-around;
}

.figure_icons_coche_inodoro--cama span{
    font-family: sans-serif;
    font-weight: 900;
}

.article_casas_and--depas button{
    background-color: #7f3f83;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border-radius: 22px;
    cursor: pointer;
}
.article_casas_and--depas button:hover{
    background-color: #b029b7;
}

.contactos_bienes_raices{
    background-image: url(../IMAGES/encuentra.jpg);
   width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px;
    margin-left: 0;
}

.contactos_bienes_raices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_contactanos_btn{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}

.section_contactanos_btn h2{
    padding: 40px 0;
}

.section_contactanos_btn p{
    padding-bottom: 40px;
}

.btn_contactos_casas_dep_venta{
    color: #ffffff;
    background-color: rgb(235, 117, 27);
    padding: 12px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    margin-top: 10px;
    border: none;
}


.btn_contactos_casas_dep_venta:hover{
    background-color: rgb(205, 76, 196);
    transition: 0.7s;
    
}


.derechos_reservados{
    background-color: #262626;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_list_menu{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer_list_menu--links{
    color: #000000;
    padding: 5px 30px;
    border-right: 1px solid #161616;
}

.footer_list_menu--link{
    padding: 5px 30px;
    color: #000000;
}

.article_nuestro--blog{
    display: flex;
}

.article_nuestro--blog img{
    width: 350px;
}

.consejos_blog{
    padding-left: 30px;
}

.consejos_blog h3{
    padding-top: 10px;
    margin-bottom: 5px;
}

.consejos_blog hr{
    width: 110px;
    height: 2px;
    background-color: #34dd00;
}

.fecha_de_consejo{
    padding: 25px 0;
}

.fecha_de_consejo strong{
    color: #ffa200;
}
